@import "tailwindcss";

@theme {
  --color-blinkit-green: #0C831F;
  --color-blinkit-yellow: #F8CB45;
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply antialiased bg-gray-50 text-gray-900;
  }
}
